[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
autopep8 = "*"
pep8 = "*"

[packages]
django = "*"
django-allauth = "*"
pillow = "*"
django-crispy-forms = "*"
stripe = "*"
django-countries = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
